<h1>Here are the characters</h1>
<% @characters.each do |character| %>
  <div>
    <h2><%= link_to character.name, character_path(character) %></a> - <%= character.house.name %></h2>
  </div>
<% end %>
