<h1><%= @character.name %></h1>
<h2><%= @character.house.name %></h2>
<div class="character">
  <img src="<%= @character.img_url %>">
</div>
<h3><a href="/characters/<%= @character.id %>/edit">Change the fate of this heathen</a> </h3>
